body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: grid;
  place-content: center;
}
.btn {
  width: 100%;
  padding: 20 25px;
  color: #fff;
  background-color: black;
  font-size: 1.2rem;
  line-height: 24px;
}
.App span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: red;
  color: #fff;
}
